{% extends 'layout.html.twig' %}

{% block title %}Cotisation Annuelle Club !{% endblock %}


{% block body %}

		
		<div class="container-fluid">
		{% include "_partials/_entete.html.twig" %} 

					<div class="row">
							<div><h5>{# On affiche tous les messages flash dont le nom est « notice » #}
							

								{% for message in app.session.flashbag.get('notice') %}
										<div class="alert alert-danger">
												<p>Message : {{ message }}</p>
										</div>
								{% endfor %}
								</h5>
							</div>
					</div>
<br />
<br />
		<div class="container">
    <h2>Ma Nouvelle Cotisation</h2>
	{#	{% if editMode %} #}
	{#		<h2> ca marche Pas! </h2>#}
	{#	{% else %}#}
	{#		<h2> ca marche ! </h2>#}
	{#	{% endif %}#}
		
	{#	{% if OperationComptable %} #}
	{#		<h2> {{OperationComptable}} </h2>#}
	{#	{% else %}#}
	{#		<h2> OperationComptable </h2>#}
	{#	{% endif %}#}

		{{ include('ma_cotisation/_form.html.twig') }}
	</div>
  {#  <a href="{{ path('ma_cotisation_index') }}">back to list</a> #}
{% endblock %}
